nav {
  display: flex;
  height: 4.5rem;
  border-bottom: 1px solid #3333;
  background-color: white;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 1;
}
/* 
.brand-logo {
  border: 1px solid black;
} */
.nav-logo {
  margin-top: 12px;
  width: 8rem;
}
